header {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #141024;
    color: #ffffff;
    ul {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;
        gap: 40px;
    }
    a {
        text-decoration: none;
        color: #fff;
    }
}
.header {
    &__logo {
        font-size: 30px;
        font-weight: 700;
    }
    &__tel {
        font-size: 30px;
        font-weight: 600;
    }
}
