@import 'vendor/custom-bootsrap';
@import 'fonts';
@import 'press';
@import 'button';
@import 'header';
@import 'topic';
@import 'institutions';
@import 'info-well';
@import 'coaches';
body {
    font-family: 'Jost', sans-serif;
    color: #141024;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}
